*{
  margin: 2vh;
  padding: 0;

}

/* styles.css */
body {
  background-color: #8B0000;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 10vh;
}

header{
  display:flex;  
  justify-content:center;
  align-items:end;
  gap: 5%;
  height: 10vh;
}

.nav-container{
  display:flex;
  justify-content:space-around;
  align-items:center;
  
  height: 50%;
  background-color: #FAF3E0;
  border-radius: 20px;
}

nav{
  color: #2F2F2F;
}

#content{
  height: 100vh;
  background-color: #FAF3E0;
  width: 50%;
}